{default $themeColor = '#dee7f8'}
<!DOCTYPE html>
<html lang="cs" dir="ltr">
	<script n:syntax="off">
		(function (w) {
			'use strict';
			function repairCurrentUrl() {
				var url = w.location.toString();
				url = url.substr(0, url.length - w.location.hash.length);
				if (w.history && w.history.replaceState
					&& ( (url.substr(url.length-1) === '?') || (url.substr(url.length-1) === '&') )
				) {
					w.history.replaceState({}, null, url.substr(0, url.length-1) + w.location.hash);
					repairCurrentUrl();
				}
				return true;
			}
			w.repairCurrentUrl = repairCurrentUrl;
			repairCurrentUrl();
		}(window));
	</script>
	<script n:if="$flashes" n:syntax="off">
		(function (w) {
			'use strict';
			const TIMEOUT = 2000;
			const FID_QSA = '_fid=';
			function removeFid() {
				var url = w.location.search.toString();
				var fidPosition = url.indexOf(FID_QSA);
				if (w.history && w.history.replaceState && fidPosition !== -1) {
					w.history.replaceState({}, null, url.substr(0, fidPosition) + url.substr(fidPosition + 10) + w.location.hash);
					w.repairCurrentUrl();
				}
				return true;
			}
			w.addEventListener('beforeunload', removeFid);
			setTimeout(removeFid, TIMEOUT);
		}(window));
	</script>
	<meta charset="utf-8">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Kosmonauti</title>
	<meta name="viewport" content="width=device-width">
	<meta n:ifset="$robots" name="robots" content="{$robots}">
	<meta name="referrer" content="origin-when-crossorigin">
	<meta name="theme-color" content="{$themeColor}">
	<link n:if="$flashes" n:href="this" rel="canonical">
	<link rel="stylesheet" media="screen" href="{$basePath}/css/style.css">
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" media="(min-width: 300px)" crossorigin="anonymous" rel="stylesheet">
	<body>

		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

		<hr>

		<main>
			{include content}
		</main>

		<hr>

		<aside>
			
		</aside>

		<hr>

		<footer>
			patička… zde
		</footer>

		{block scripts}
			<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
		{/block}

		{ifset $randomBytes}
			<!-- {$randomBytes} -->
		{/ifset}
