{block content}
	<header>
		<h1 n:block="title">Kosmonauti</h1>
	</header>

	<section>

		<a n:href="add" rel="nofollow">Přidat nového kosmonauta</a>

		<table n:if="count($items)">
			<thead>
				<tr>
					<th>#</th>
					<th>Jméno</th>
					<th>Příjmení</th>
					<th>Datum narození</th>
					<th>Superschopnost</th>
					<th class="actions"><small>akce</small></th>
				</tr>
			</thead>

			<tbody n:inner-foreach="$items as $item">
				<tr>
					<td>{$item->id}</td>
					<td>{$item->name}</td>
					<td>{$item->surname}</td>
					<td>{$item->birth_date|date:'d.m.Y'}</td>
					<td>{$item->superpower}</td>
					<td class="actions">
						<a n:href="edit, $item->id" rel="nofollow">upravit</a>&nbsp;/&nbsp;<a n:href="delete, $item->id" rel="nofollow">smazat</a>
					</td>
				</tr>
			</tbody>
		</table>

		<p n:if="!count($items)">
			Momentálně nevedeme v evidenci žádného kosmonauta.
		</p>

	</section>
