{block content}
	<header>
		<h1 n:block="title">Smazání kosmonauta</h1>
	</header>

	<section>

		<em>Opravdu chcete smazat záznam #{$item->id} : '{$item->name} {$item->surname}'?</em>
		{control deleteForm}

	</section>
